.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.cardContainer {
  width: 300px;
  margin: 10% auto !important;
}

.walletItem {
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #eff2f5;
  display: flex;
  padding: 5% 4%;
  margin: 5% 0;
  align-items: baseline;
  justify-content: space-between;
}
.walletItem:hover {
  border-color: #001528;
}
.selectedWalletItem {
  border: 1px solid #1990ff;
}
